
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Burası panel sayfam</h2>
<table class="table table-hover" style="margin-top:30px">
    <tr>
        <td>
            <label style="font-weight:bold">Öğrenci ID: </label>  @TempData["id"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Mail Adresi: </label>  @HttpContext.Current.User.Identity.Name
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Ad:</label> @TempData["Ad"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Soyad:</label> @TempData["Soyad"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Kullanıcı Adı:</label>  @TempData["KullanıcıAdı"].ToString()
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Şifre:</label> <input type="text" class="form-control" value="@TempData["Sifre"].ToString()" />
        </td>
    </tr>
    <tr>
        <td>
            <label style="font-weight:bold">Okul:</label>  @TempData["Okul"].ToString()
        </td>
    </tr>
</table>
<button class="btn btn-warning">Şifre Güncelle</button>