@using MvcKutuphane.Models.Entity
@* Pagedlist yapısı kullanıldığı için aşağıdaki kodlar yazılmıştır *@
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>DETAY</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.AD</td>
            <td>@y.SOYAD</td>
            <td>@y.DETAY</td>
            <td>@Html.ActionLink("Sil", "YazarSil", new { id = y.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz')" })</td>
            <td><a href="/Yazar/YazarGetir/@y.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a class="btn btn-primary" href="/Yazar/YazarEkle">Yeni Yazar Ekle</a>