@using MvcKutuphane.Models.Entity
@model List<TBLKITAP> 
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    h2{      
        font-size:25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding:20px;
        color:aliceblue;
    }
    div {
        background-color: lightseagreen;
        width:100%;
        height:75px;
    }
</style>
<div>
    <h2><b>Kitap Yazarı:</b> @ViewBag.yzrad</h2>
</div>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Kategori</th>
        <th>Yayınevi</th>
    </tr>
    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.ID</td>
                    <td>@x.AD</td>
                    <td>@x.TBLKATEGORI.AD</td>
                    <td>@x.YAYINEVI</td>
                </tr>
            }
</table>
