@model MvcKutuphane.Models.Entity.TBLYAZAR
@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazar Güncelleme Sayfası</h2>

@using (Html.BeginForm("YazarGuncelle", "Yazar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(y => y.ID)
        @Html.TextBoxFor(y => y.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(y => y.AD)
        @Html.TextBoxFor(y => y.AD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(y => y.SOYAD)
        @Html.TextBoxFor(y => y.SOYAD, new { @class = "form-control" })
        <br />
        @Html.LabelFor(y => y.DETAY)
        @Html.TextBoxFor(y => y.DETAY, new { @class = "form-control" })
    </div>
    <br />
    <button class="btn btn-warning">Yazar Bilgilerini Güncelle</button>
}